// Colors
$white: hsl(0, 0%, 100%);
$light-pink: hsl(275, 100%, 97%);
$grayish-purple: hsl(292, 16%, 49%);
$purple: #AD28EB;
$dark-purple: hsl(292, 42%, 14%);

// Font Sizes
$font-h1-l: 2.25rem; // 36px
$font-h1-s: 1.5rem; // 24px
$font-m: 1rem; // 16px
$font-s: 0.875rem; // 12px

// Font Weights
$font-weight-l: 700;
$font-weight-m: 600;
$font-weight-s: 400;
